/* # FONTS # */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(fonts/Open_Sans.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* # PAGE BEGIN # */

#background {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	background: rgba(28,28,28,0.96);
	background: linear-gradient(to top, #fff 50%, #e1f6f7 100%);
}

/* ## HEADER ## */
header {
	opacity: 0.8;
	pointer-events: none;
	padding: 20px;
	background: #444;
	font-family: 'Open Sans';
	height: 38px;
}

header ul {
	position: absolute;
	list-style: none;
	overflow: hidden;
	left: 50%;
}

header li {
	float: left;
	margin-right: 10px;
	display: block;
	color: #aaa;
	font-size: 14px;
	padding: 10px 20px;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
}

header a {
}

/* ## WRAPPER ## */

#wrapper {
	width: 900px;
	margin: 0 auto;
}

#leftfloater {
	float: left;
	width: 150px;
}

#rightfloater {
	float: right;
	width: 150px;
	transform: scaleX(-1);
}

/* ### CONTENT ### */
#loginback{
	margin-top: 100px;
	margin-right: 100px;
	padding: 20px;
	float: right;
	background-color: #ddf0da;
	font-family: 'Open Sans';
	width: 360px;
}

/* # HELPERS # */
.clear {
	clear: both;	
}

/* # GLOBALS # */
* { margin: 0; padding: 0; }
#loginback input.text {
	padding: 1px 5px;
	height: 40px;
	width: 100%;
	color: #222;
	border: 1px solid #fff;
	font-family: "trebuchet ms";
	outline: none;
	margin-bottom: 10px;
}

#loginback input.submit {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-family: "trebuchet ms";
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
	border-radius: .5em;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	
	color: #f7ffed;
	border: 1px solid #538312;
	background: #64991e;
	background: linear-gradient(to bottom, #7db72f 0, #4e7d0e 100%);		
	float: right;
}
#loginback input.submit:hover {
	background: #538018;
	background: linear-gradient(to bottom, #6b9d28 0, #436b0c 100%);
}
#loginback input.submit:active {
	position: relative;
	background: linear-gradient(to bottom, #4e7d0e 0, #7db72f 100%);
	top: 1px;
	color: #a9c08c;
}

.inputtop {
	border-top-left-radius: 10px;
	padding-left: 5px;
	color: #555;
	background: linear-gradient(to right, #fff 30%, rgba(255,255,255,0) 50%);
}
