/* # FONTS # */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(fonts/Open_Sans.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* # PAGE BEGIN # */

#background {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	background: #f0fafb;
	background: linear-gradient(to top, #fff 50%, #e1f6f7 100%);
}

/* ## HEADER ## */
header {
	padding: 20px;
	background: #444;
	height: 38px;
}

header.disabled {
	opacity: 0.8;
	pointer-events: none;
}

header .nav {
	position: absolute;	
	overflow: hidden;	
	white-space: nowrap;	
	list-style: none;
	left: 0;
}

header .nav .but {
	margin-right: 10px;
	white-space: normal;
	display: inline-block;
	margin-right: 10px;
}
header .nav .but.last {
	margin-right: 0 !important;
}

header a {
	display: block;
	border-radius: 20px;
	color: #fff;
	font-size: 14px;
	padding: 10px 20px;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
}

header.disabled a {
	color: #aaa;
}

header a:hover {
	background: #363636;
}

header a.active, header a:active {
	background: #2f2f2f;
}

/* ## WRAPPER ## */

#wrapper {
	width: 900px;
	margin: 0 auto;
}

#leftfloater {
	float: left;
	width: 150px;
}

#rightfloater {
	float: right;
	width: 150px;
}

/* ### CONTENT ### */
#innerback{
	margin-top: 20px;
	float: right;
	background-color: #ddf0da;
	min-height: 510px;
	padding: 20px;
	width: 560px;
}

/* # HELPERS # */
.clear {
	clear: both;	
}

/* # TAG CHANGES # */
* {
	margin: 0;
	padding: 0;
	outline: none;
}

body {
	font-family: "open sans";
}

#innerback .socket {
	text-shadow: 1px 1px 1px white;
	height: 30px;
	margin-bottom: 5px;
}

.onoff {
	float: right;
	width: 100px;
	height: 30px;
	background: #FaFaFa;
	border-radius: 15px;
	border: 1px solid #bfbfbf;
	position: relative;
	transition: background .5s;	
}

#innerback .name {
	float: left;
	line-height: 30px;
}

#innerback .onoff .toggler {
	position: absolute;
	left: -1px;
	border-right: 1px solid #bfbfbf;
	border-left: 1px solid #bfbfbf;
	/*border-top: 1px solid #bfbfbf;
	border-bottom: 1px solid #bfbfbf;*/
	border-radius: 14px;
	height: 30px;
	width: 50px;
	cursor: pointer;
	background: #f5f5f5;
}

.house {
	position: absolute;
	z-index: 20;
}

#grundplansCanvas {
	z-index; 19;
	position: absolute;
}

#innerback .socket .place {
	color: gray;
}
